<div class="container">
  <form class="register-form" [formGroup]="studentForm" autocomplete="off" (ngSubmit)="save()">
    <h2>Chỉnh sửa thông tin sinh viên</h2>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Your name" formControlName="name">
        <!--        <mat-error *ngIf="studentForm.get('name')?.errors?.usernameDuplicated">-->
        <!--          Duplicated username!-->
        <!--        </mat-error>-->
        <mat-error>
          {{errors.name}}
        </mat-error>
      </mat-form-field>
      <!--      <pre>{{ studentForm.get("name")?.errors | json }}</pre>-->
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Address</mat-label>
        <input matInput placeholder="Address" formControlName="address">
        <mat-error>
          {{errors.address}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Phone number</mat-label>
        <input matInput placeholder="Phone number *" formControlName="phone">
        <mat-error>
          {{errors.phone}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" formControlName="email">
        <mat-error>
          {{errors.email}}
        </mat-error>
      </mat-form-field>
    </div>
    <div formGroupName="passwordGroup">
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" formControlName="password">
          <mat-error>
            {{errors.password}}
          </mat-error>
        </mat-form-field>
        <!--        <pre>{{ registerForm.get("password")?.errors | json }}</pre>-->
      </div>
      <div class="row-control">
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword"
                 [errorStateMatcher]="confirmValidParentMatcher">
          <mat-error>
            {{errors.confirmPassword}}
          </mat-error>
        </mat-form-field>
        <!--        <pre>{{ registerForm.get("confirmPassword")?.errors | json }}</pre>-->
      </div>
      <!--      <pre>{{ registerForm.errors | json }}</pre>-->
    </div>
    <div class="row-control">
      <mat-form-field appearance="outline">
        <mat-label>isEdit</mat-label>
        <input matInput placeholder="Is Edit" formControlName="isEdit">
      </mat-form-field>
    </div>
    <div class="row-control row-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="studentForm.invalid">
        Add Student
      </button>
    </div>
    <!--    <pre>{{ studentForm.value | json }}</pre>-->
  </form>
</div>
