.pb-2 {
    padding-bottom: 2.0rem!important;
}

.bt_add {
    float: left;
    // margin-right: 60px
}

.container {
    padding-top: 59px;
}

.search {
    width: 25%;
    float: right;
    padding-top: 4px;
}