<div class="container">
  <div class="p-3 mb-2 .bg-secondary.bg-gradient text-dark">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header fa-user-circle mr-2">Quan Ly Sinh vien</div>
          <div class="card-body">
            <button
              nz-button
              class="bt_add btn btn-primary mb-2 pb-2"
              (click)="addStudent()"
            >
              Add Student
            </button>
            <nz-input-group class="search" nzSearch>
              <input
                type="text"
                nz-input
                placeholder="input search text"
                (keyup)="searchTerm$.next($event.key)"
                [(ngModel)]="textSearch"
              />
            </nz-input-group>

            <!-- <nz-input-group
                class="search"
                nzSearch
                [nzAddOnAfter]="suffixIconButton"
              >
                <input
                  #searchText
                  type="text"
                  nz-input
                  placeholder="input search text"
                  (keyup.enter)="search(searchText.value)"
                />
              </nz-input-group>
              <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch>
                  <i nz-icon nzType="search"></i>
                </button>
              </ng-template> -->
            <nz-table
              #editRowTable
              nzBordered
              [nzData]="listOfData"
              nzTableLayout="fixed"
              (nzPageIndexChange)="getPageIndex($event)"
              (nzPageSizeChange)="getPageSizeChange($event)"
              [nzPaginationPosition]="'bottom'"
              [nzPageSizeOptions]="[10, 20, 30, 40]"
              [nzShowSizeChanger]="true"
            >
              <thead>
                <tr>
                  <th nzWidth="10%" style="text-align: center">STT</th>
                  <th nzWidth="15%">Name</th>
                  <th nzWidth="20%">Address</th>
                  <th nzWidth="20%">Phone number</th>
                  <th nzWidth="20%">Email</th>
                  <th style="text-align: center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of editRowTable.data; let i = index">
                  <th style="text-align: center">
                    {{ (pageIndex - 1) * pageSize + i + 1 }}
                  </th>
                  <td>{{ student.name }}</td>
                  <td>{{ student.address }}</td>
                  <td>{{ student.phone }}</td>
                  <td>{{ student.email }}</td>
                  <td>
                    <button
                      nz-button
                      (click)="editStudent(student.id)"
                      nzType="primary"
                      style="margin-right: 10px"
                    >
                      Edit
                    </button>
                    <button
                      nz-button
                      nzType="primary"
                      nzDanger
                      nz-popconfirm
                      nzPopconfirmTitle="Are you want delete student ?"
                      nzOkText="Delete"
                      nzCancelText="Cancel"
                      (nzOnConfirm)="deleteStudent(student.id)"
                    >
                      Delete
                    </button>
                    <!-- <button nz-button (click)="deleteStudent(student.id)">
                        Delete
                      </button> -->
                    <!-- <button
                      nz-button
                      nzType="primary"
                      (click)="createComponentModal()"
                    >
                      <span>Delete</span>
                    </button> -->
                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
