.navbar {
    position: fixed;
    display: block;
    padding-top: .5rem;
    padding-bottom: .5rem;
    width: 100%;
    z-index: 1;
}

.dropdown-menu {
    min-width: 7rem;
    text-align: center;
}

.btn-group {
    margin: 0 10px 0 30px;
}