/* Importing Bootstrap SCSS file. */

@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-zorro-antd/ng-zorro-antd.min.css";

/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    // background-color: #6f42c1;
}

// .container,
// .container-fluid,
// .container-lg,
// .container-md,
// .container-sm,
// .container-xl,
// .container-xxl {
//     width: auto;
//     padding-right: var(--bs-gutter-x, .75rem);
//     padding-left: var(--bs-gutter-x, .75rem);
//     margin-right: auto;
//     margin-left: auto;
// }